*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 937px;
    padding: 20px 10%;
    text-align: center;
    background-image: url("backGround.jpg");
}

section h1{
    color: white;
    font-size: 50px;
}

.back{
    width: 100%;
    height: 770px;
    padding: 40px 0;
    
    background-color: rgba(255, 255, 255, 0.479);
    border: 1px solid black;
    border-radius: 20px;
}

.container{
    width: 100%;
    height: 675px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
}

.container #messagePart{
    padding: 10px 0;
}

.container #messagePart .message{
    padding: 10px 30px;
    background-color: rgba(255, 255, 0, 0.863);
    border-radius: 10px 0 40px 10px;
    width: 40%;
    word-break: break-all;
    justify-content:space-between;
}

.container #messagePart .accepted{
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    border-radius: 0 10px 10px 40px;
    width: 40%;
    word-break: break-all;
    display: flex;
    justify-content:space-between;
}

.container #messagePart .message .bottomPartSender{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 17px;
}

.container #messagePart .message .bottomPartSender .timePart{
    width: 100%;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 10px;
}
.container #messagePart .message p{
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 15px;
    width: 80%;
    text-align: left;
    padding-bottom: 10px;
}

.container #messagePart .message p span{
    font-weight: bold;
    font-size: 17px;
}

.container #messagePart .accepted p{
    font-family: 'Arial';
    font-size: 17px;
    width: 80%;
    text-align: left;
}

.container #messagePart .accepted p span{
    font-weight: bold;
}

.container #messagePart .accepted .bottomPartAccepted{
    width: 30%;
    height: 17px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 0px;
}

.container #messagePart .message .deleteBtn{
    width: 100px;
    font-weight: bold;
    background-color: rgb(253, 121, 121);
    color: black;
    border: 0;
    border-radius: 5px;
    height: 20px;
    font-family: 'Arial';
    font-size: 15px;
}

.container #messagePart .message .deleteBtn:hover{
    background-color: red;
    color: white;
}

.container #messagePart .message .deletedMessage{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 17px;
    color: red;
}

section .formPart{
    width: 78%;
    height: 100px;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: rgb(107, 107, 107);
    border: 1px solid black;
    border-radius: 15px;
    left: 11%;
}

section .formPart #message{
    width: 80%;
    height: 50px;
    font-size: 20px;
    font-family: 'Arial';
    padding: 0 20px;
    word-break: break-all;
    border-radius: 15px;
    border: 1px solid black;
}

section .formPart .sendBtn{
    width: 8%;
    height: 45px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(130, 192, 37);
    color: white;
    text-shadow: 0px 5px 2px black, 2px 2px 0 black;
    transition: transform .4s;
}

section .formPart .sendBtn:hover{
    background-color: green;
    color: white;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px white;
}

@media only screen and (max-width: 400px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    section{
        width: 100%;
        height: 844px;
        padding: 20px 3%;
        text-align: center;
        background-image: url("backGround.jpg");
    }
    
    section h1{
        color: white;
        font-size: 25px;
    }
    
    .back{
        width: 100%;
        height: 740px;
        padding: 40px 0;
        
        background-color: rgba(255, 255, 255, 0.479);
        border: 1px solid black;
        border-radius: 20px;
    }

    .container{
        width: 100%;
        height: 650px;
        padding: 30px 10px;
    }
    
    .container #messagePart{
        padding: 10px 0;
    }
    
    .container #messagePart .message{
        padding: 10px 0;
        padding-left: 10px;
        padding-right: 20px;
        background-color: rgba(255, 255, 0, 0.767);
        border-radius: 10px 0 40px 10px;
        width: 70%;
        word-break: break-all;
        display:block;
        justify-content:space-between;
    }
    
    .container #messagePart .accepted{
        padding: 10px 0;
        padding-left: 30px;
        padding-right: 10px;
        background-color: rgba(0, 0, 0, 0.548);
        border-radius: 0 10px 10px 40px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        word-break: break-all;
        color: white;
    }
    
    .container #messagePart .message p{
        font-family: 'Arial';
        font-size: 15px;
        width: 90%;
        text-align: left;
        padding-bottom: 10px;
    }
    
    .container #messagePart .message p span{
        font-weight: bold;
    }
    
    .container #messagePart .accepted .bottomPartAccepted{
        width: 100%;
        height: 17px;
        text-align: right;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 13px;
        padding: 5px 0px;
    }
    .container #messagePart .accepted p{
        font-family: 'Arial';
        font-size: 15px;
        width: 90%;
        text-align: left;
    }
    
    .container #messagePart .accepted p span{
        font-weight: bold;
    }
    
    .container #messagePart .message .bottomPartSender{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 17px;
    }

    .container #messagePart .message .bottomPartSender .timePart{
        width: 100%;
        text-align: right;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 13px;
        padding: 5px 10px;
    }
    .container #messagePart .message .bottomPartSender .deleteBtn{
        width: 80px;
        font-weight: bold;
        background-color: rgb(253, 121, 121);
        color: black;
        border: 0;
        border-radius: 5px;
        height: 20px;
        font-family: 'Arial';
        font-size: 15px;
    }
    
    .container #messagePart .message .bottomPartSender .deleteBtn:hover{
        background-color: red;
        color: white;
    }
    
    .container #messagePart .message .deletedMessage{
        font-family: 'Arial';
        font-weight: bold;
        font-size: 17px;
        color: red;
    }
    
    section .formPart{
        width: 90%;
        height: 70px;
        position: absolute;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        background-color: rgb(54, 54, 54);
        border: 1px solid black;
        border-radius: 15px;
        left: 5%;
        right: 5%;
    }
    
    section .formPart #message{
        width: 80%;
        height: 40px;
        font-size: 17px;
        font-family: 'Arial';
        padding: 0 15px;
        border-radius: 15px;
        border: 1px solid black;
    }
    
    section .formPart .sendBtn{
        width: 15%;
        height: 40px;
        font-size: 23px;
        border-radius: 10px;
        background-color: greenyellow;
        color: white;
        text-shadow: 0px 5px 2px black, 2px 2px 0 black;
        transition: .4s;
    }
    
    section .formPart .sendBtn:hover{
        background-color: green;
        color: white;
        transform: 0;
    }
}
